PORT=5000
MONGO_URI=mongodb://localhost:27017/tooltrack
JWT_SECRET=cambia_esta_clave_por_una_larga_y_aleatoria
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Solo para el script seed:admin
ADMIN_NAME=Admin
ADMIN_LASTNAME=ToolTrack
ADMIN_EMAIL=admin@tooltrack.com
ADMIN_PASSWORD=cambia_esta_contraseña
ALLOW_ADMIN_SEED=false
